.card{
  background-color: #FFE4C4;
}

body{
  background-image: url("https://i.pinimg.com/originals/e6/7d/af/e67daf68a6e8f6d4a9283cb7d64b098c.jpg")
}
h3{
  color:Aquamarine;
  font-style:bold;
  font-size: 50px;
}
